<div id="caja_videos" class="caja_videos">
  <div class="canal_titulo resaltado">Vídeos emitidos</div>
  <br />
  <div id="nuevo_video_vod"></div>
  <%= render :partial => "videos", :locals => { :id => @channel.id } %>
</div>
