¡Gracias por crear un nuevo canal!
Haga click en la siguiente URL para activarlo.

  <%= @account_activation_url %>

Si la URL proporcionada no funciona correctamente, cópiala y pégala en tu navegador.
Si continúas teniendo problemas, contáctanos.

Salud,
iuStreaming


