Se ha recibido una petición de cambio de clave.
Si no estás seguro del por qué de este mensaje, simplemente ignóralo.
Si deseas cambiar la clave, haz click en el enlace de más abajo:

<%= @edit_password_reset_url %>

Si la URL proporcionada no funciona correctamente, cópiala y pégala en tu navegador.
Si continúas teniendo problemas, contáctanos. 

Salud,
iuStreaming

