¡Bienvenido a iuStreamer!
Tu canal ha sido activado.

  <%= @root_url %>

Si la URL proporcionada no funciona correctamente, cópiala y pégala en tu navegador.
Si continúas teniendo problemas, contáctanos.

Salud,
iuStreaming


