
/*********************************
*      ELEMENTOS GENERALES       *
*********************************/

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Verdana, Arial, Courier new;
  font-size: 15px;
  margin: 0;
  min-width: 800px;
  text-align: center;
  height: 100%;
}

img {
  border: none;
}

/*********************************
*     CABECERA DE LA PAGINA      *
*********************************/

#cabecera {
  position: fixed;
  min-width: 500px;
  height: 55px !important;
  width: 100%;
  text-align: left;
  color: #04adda;
  background-color: #444;
}

#cabecera a, #cabecera a:link, #cabecera a:visited {
  /*color:#fff;*/
  color:#04adda;
  text-decoration:none;
}

#cabecera a:hover {
  color:#ddd;
}

#logo {
  padding-top: 3px;
  padding-left: 5px;
  line-height: 45px;
  font-size: 35px;
}

/*********************************
*         CAJA DE AVISOS         *
*********************************/

#mensaje {
  height:10px;

  right: 5px;
  position: absolute;
  top: 20px;
  z-index: 5000;

  background:#fff url(/images/ok.png) no-repeat scroll 4px 4px;

  text-align: center;
  padding-top: 6px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 12px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px
}

/*********************************
*       CUERPO DE LA PAGINA      *
*********************************/

#cuerpo {
  clear:both;
  padding-top: 60px;
  padding-bottom: 50px;
  /*padding-left: 50px;
  padding-right: 50px;*/
  margin-left: auto;
  margin-right: auto;
  width: 1030px;
  background-color:#fff;
  text-align:left;
  overflow: auto;
}

#cuerpo a, #cuerpo a:link, #cuerpo a:visited {
  color: #eee;
  text-decoration:none;
}

#cuerpo a:hover {
  color: #000;
}

#inicio_izquierda {
  float:left;
  width: 650px;
}

#inicio_derecha {
  float:right;
}

/*********************************
*        ESTILOS DE CANAL        *
*********************************/

#cabecera_canal {
  clear: both;
  min-height: 45px;
  padding-bottom: 30px;
}

#cabecera_canal a, #cabecera_canal a:link, #cabecera_canal a:visited {
  color: #000;
  text-decoration:none;
}

#cabecera_canal a:hover {
  color: #04adda;
}

.canal_titulo {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.canal_descripcion {
  height: 3em;
  max-height: 3em;
  overflow: auto;
}

.canal_detalles {
  float: left;
  padding-top: 10px;
  font-size: 10px;
}

.avatar {
  float: left;
  padding-right: 10px;
  width: 100px;
}


/*********************************
*        ESTILOS DE VIDEO        *
*********************************/

.caja_videos {
  float: left;
  margin-left: 10px;
  /*padding-left: 10px;*/
  width: 640px;
}

.video {
  padding-left: 15px;
  padding-right: 15px;
  width: 610px;
  height: 140px;
  clear: both;
}

.video_thumbnail {
  float: left;
  width: 150px;
  margin-right: 10px;
  margin-left: 0px;
  /*margin-bottom: 20px;*/
}

.video_data {
  float: left; 
  width: 450px;
  height: 85px;
}

.video_buttons {
  float: left;
  width: 450px;
  min-height: 30px;
}

.video_title {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: left;
  /* clear: right; */
  clear: both;
  font-size: 16px;
  font-weight: bold;
  float: left;
  height: 1em;
  width: 450px;
  max-height: 1em;
}

.video-details {
  text-align: left;
  height; 1em;
}

#mas_videos {
}

#video_play_wrapper, #video_vod_play_wrapper, #video_play_header, #video_play_footer, #publisher {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#video_play_wrapper, #video_play_vod_wrapper {
  border-width: 5px;
  border-color: #04adda;
}

#video_play_header {
  text-align: center;
  font-size: 18px;
}


/*********************************
*          OTROS ESTILOS         *
*********************************/

.caja_pequena, .caja_grande {
  min-height: 100px;
  padding:10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 1px 1px 4px #333333;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px;
  float: left;
  width: 350px;
}

.caja_pequena {
  width: 285px;
  margin-right: 15px;
}

.normal {
  float: left;
  width: 60px;
}

.editable {
  background-color: #f8f8f8;
  overflow: hidden;
  font-weight: bold;
}

.resaltado {
  /*background-color: #e8f8ff;*/
  background-color: #04adda;
  color: #fff;
  text-align: center;
  font-weight: bold;
  clear: both;
  padding: 2px;
  margin-top: 15px; 
}

.boton {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  background-color: #04adda;
  color: #fff;
}

.right {
  float: right;
  text-align: right;
  margin-left: 5px;
  margin-right: 5px;
}

.left {
  float: left;
  text-align: left;
  margin-left: 5px
  margin-right: 5px;
}

.form {
  overflow: auto;
  clear: both;
}

.form-line {
  clear: both;
  height: 2em;
  line-height: 2em;
}

.caja_codigo {
  max-width:340px;
  float: right;
  margin-right: 5px;
}

.codigo {
  clear:both;
  width: 270px;
  height: 50px;
  overflow: scroll;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
}

#spinner, .spinner {
  /*padding: 3em;*/
  width: 70px;
  height: 70px;
  background: transparent url(/images/loading.gif) 100% 0 no-repeat;
  z-index: 999;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 200px;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}
