
<div class="video-details">
  Reproducciones: <%= video.views %>
  <% if video.live %>
    | Ahora: <%= video.viewers %>
  <% end %>
  <% if video.live || current_channel == video.channel %>
    | Max.Simultaneos: <%= video.max_viewers %>
  <% end %>
</div>
<div class="video-details">
  <% if !video.live %>Emitido: <%= video.created_at %><% end %>
</div>

