
<div class="caja_canal">
  <div class="canal_titulo resaltado">Registro de Canal</div>
  <%= render :partial => "channels/channel" %>
  <div class="resaltado">Si ya tienes cuenta,
    <%= link_to "conéctate aquí", login_path %>
  </div>
  <br />
</div>

